# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Executables
*.out
*.exe
run_*

# Scratch / Temp
scratch/
.system_generated/
*.log

# opencodeSolve tests might be large
opencodeSolve/tests/

# Linux executables (compiled without extension)
HCMUS/*/*[!.*]
!HCMUS/*/*.cpp
!HCMUS/*/*.md
!HCMUS/*/*.txt
!HCMUS/*/*.py
